{% extends "base.html" %}

{% block title %}ユーザーの一覧{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">ユーザーの一覧</h4>
    <a href="{% url 'accounts:create' %}" class="btn btn-primary btn-sm my-3">追加</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">名前</th>
          <th scope="col">トークン</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for account in object_list %}
        <tr>
          <th scope="row">{{ account.id }}</th>
          <td>{{ account.username }}</td>
          <td>
            {% if account.auth_token.key %}{# トークンが存在する場合 #}
            
            {{ account.auth_token.key|slice:":6" }}---------------------------------- トークン有効期限 : {% if account.auth_token.expired_date %}{{ account.auth_token.expired_date }}{% else %}有効期限なし{% endif %}
            {# `slice` の意味は右参照 https://docs.djangoproject.com/en/4.0/ref/templates/builtins/#slice #}

            {% else %}{# トークンが存在しない場合 #}
            トークン未生成
            {% endif %}
          </td>
          <td>
            {% if account.auth_token.key %}{# トークンが存在する場合 #}
            <button type="button" class="btn btn-outline-secondary btn-sm" title="トークンは生成済みです。">トークンの生成</button>
            <a href="javascript:void(0)" data-deletion_url="/accounts/{{ account.id }}/token/delete/" data-delete_confirmation_message="{{ account.username }} のトークンを削除しますか？" class="btn btn-outline-primary btn-sm delete-btn">トークンの削除</a>
            {% else %}{# トークンが存在しない場合 #}
            <a href="{% url 'accounts:create_token' pk=account.id %}" class="btn btn-outline-primary btn-sm">トークンの生成</a>
            <button type="button" class="btn btn-outline-secondary btn-sm" title="トークンは未生成です。">トークンの削除</button>
            {% endif %}
            {% if account.is_superuser %}{# スーパーユーザーの場合 #}
            <button type="button" class="btn btn-outline-secondary btn-sm" title="スーパーユーザーは削除できません。">ユーザーの削除</button>
            {% else %}{# スーパーユーザー以外の場合 #}
            <a href="javascript:void(0)" data-deletion_url="/accounts/{{ account.id }}/delete/" data-delete_confirmation_message="ユーザー {{ account.username }} を削除しますか？" class="btn btn-outline-primary btn-sm delete-btn">ユーザーの削除</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- 削除を確認するモーダルダイアログ -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">削除確認</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="delete-confirmation-message"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
            <button type="button" class="btn btn-primary" id="deletion-submitted">削除</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block scripts %}
<script>
  $(document).ready(()=>{

    // トークンの生成
    $('.token-creation-btn').on('click', function(){ // トークン生成ボタンクリック時
      $('#delete-confirmation-message').text(this.dataset.token_creation_message);
    });

    // レコードの削除
    $('.delete-btn').on('click', function(){ // 削除ボタンクリック時

      $('#delete-confirmation-message').text(this.dataset.delete_confirmation_message);
      $('#deleteModal').modal('show');
      $('#deletion-submitted').off('click'); // 重複して登録しないように、'click' イベントが存在する場合は削除
      $('#deletion-submitted').on('click', null, this.dataset.deletion_url, function(obj_event){
        $('#deleteModal').modal('hide');

        // 削除用 URL を POST で叩く
        $.ajax({
          url: obj_event.data,
          method: 'POST',
          headers: {'X-CSRFToken': dict_utilities.getValueFromCookie('csrftoken')},
        }).done(() =>{
          location.reload();
        });

      });
    });
  });
</script>
{% endblock scripts %}
